.hero-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner div{
    position: relative;
    background-color: rgb(15, 22, 22);
    height: 500px;
    width: 70%;
    opacity: 0.8;
    border-radius: 30px;
    top: 50px;
}


.hero-banner .profile-image{
    position: absolute;
    height: 200px;
    left: 700px;
    top: 150px;
    background-color: aqua;
    border-radius: 50%;
    width: 200px;  
}


.profile-image img{
    width: 200px;
    height: 200px;
}
.hero-banner .info-text{
    margin-left: 20px;
    padding: 10px;
    width: 400px;
    height: 200px;

}

.info-text p{
    font-size: 50px;
    color: #ffffff;

}

.my-name{
    text-transform:capitalize;
 background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



